@model IEnumerable<inventario_productos_crub.Models.Inventario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimaActualizacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltimaActualizacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InventarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InventarioID })
        </td>
    </tr>
}

</table>
